<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='css/interfaz_cliente.css') }}">
    </head>
    <html>
        <section>
        <div id="menu">
            <img src="{{ url_for('static', path='images/logo_negro.png') }}" width="90px">
            <div id="accesos">
                <a>Eventos</a>
            </div>
        </div>
        <h1>PROXIMOS EVENTOS</h1>
        <div id="panel_principal">
            <div id="panel-proximos-eventos">
                <div class="tarjeta">
                    <p class="titulo">Alicante Music Festival</p>
                    <img src="./images/evento_alicante.png" height="auto" width="300px">
                    <div id="detalle">
                        <p class="descripcion">Disfruta de la experiencia de la mejor música en la costa de España</p>
                        <div><div id="boton">Detalle</div></div>
                    </div>
                </div>
                <div class="tarjeta">
                    <p class="titulo">Alicante Music Festival</p>
                    <img src="./images/evento_alicante.png" height="auto" width="300px">
                    <div id="detalle">
                        <p class="descripcion">Disfruta de la experiencia de la mejor música en la costa de España</p>
                        <div id="boton">Detalle</div>
                    </div>
                </div>
                <div class="tarjeta">
                    <p class="titulo">Alicante Music Festival</p>
                    <img src="./images/evento_alicante.png" height="auto" width="300px">
                    <div id="detalle">
                        <p class="descripcion">Disfruta de la experiencia de la mejor música en la costa de España</p>
                        <div id="boton">Detalle</div>
                    </div>
                </div>
                <div class="tarjeta">
                    <p class="titulo">Alicante Music Festival</p>
                    <img src="./images/evento_alicante.png" height="auto" width="300px">
                    <div id="detalle">
                        <p class="descripcion">Disfruta de la experiencia de la mejor música en la costa de España</p>
                        <div id="boton">Detalle</div>
                    </div>
                </div>
                <div class="tarjeta">
                    <p class="titulo">Alicante Music Festival</p>
                    <img src="./images/evento_alicante.png" height="auto" width="300px">
                    <div id="detalle">
                        <p class="descripcion">Disfruta de la experiencia de la mejor música en la costa de España</p>
                        <div id="boton">Detalle</div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </html>
</html>